.qHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color:lightskyblue;
    width:100%;
    position: sticky;
    z-index:1000;
    top:0;
    box-shadow: 0px 5px 8px -9px  rgba(0,0,0,0.5);
}
.qHeader__logo > img{
    height:50px;
    margin-right: 20px;
}
.qHeader__icons{
    display: flex;
    margin-right: 20px;
}
.qHeader__icon>{
  color:gray;
  cursor: pointer;
  font-size: xx-large;
  padding: 5px 20px;
  margin-top: 20%;
}
.qHeader__icon> .MuiSvgIcon-root{
    color:gray;
    cursor: pointer;
    font-size: xx-large;
    padding: 5px 20px;
}
.qHeader__icon> .MuiSvgIcon-root:hover{
    color:blue;
    border-radius:10px;
    background-color: lightgreen;
}
.qHeader__input{
    display: flex;
    align-items: center;
    border:1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
}
.qHeader__input>input{
    background-color: transparent;
    outline: none;
    border:none;
    color:rgb(49,49,49);
}
.qHeader__input>.MuiSvgIcon-root{
    color:grey;
}
.qHeader__Rem{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.qHeader__Rem >.qHeader__avatar{
    cursor: pointer;
}
.qHeader__Rem>.MuiSvgIcon-root{
    font-size: xx-large;
    color: grey;
    margin-left: 25px;
    cursor: pointer;
}
.qHeader__Rem>.MuiSvgIcon-root:hover{
    color:blue;
}
.qHeader__Rem>.MuiButton-root{
    color:lightskyblue;
    margin-left: 25px;
    text-transform: inherit;
    background: red;
    border-radius: 20px;
    cursor: pointer;
}
.qHeader__Rem>.MuiButton-root:hover{
    color:lightskyblue;
    background-color:blue;
}
.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  
  .modal__title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
  }
  
  .modal__title > h5:hover {
    color: #b92b27;
  }
  
  .modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .modal__info > p {
    margin-left: 10px;
    font-size: small;
    color: gray;
  }
  
  .modal__info > .modal__scope {
    display: flex;
    align-items: center;
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal__field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
  }
  
  .modal__field > .modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .modal__field > .modal__fieldLink > input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
  }
  
  .modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal__buttons > .cancel {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .modal__buttons > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0, 64, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .navbar {
    background-color:lightskyblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: #f5b921;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  